body {
    color:white
  
}

.container {
    display: flex;
    justify-content: space-around;
    background: rgb(2, 2, 74);
    width:500px;
    height:250px;
    margin:10px;
    border:white;
    border-radius: 5px;
}

h1 {
    color: rgb(255, 0, 115);
    background: black;
    height: 100px;
    width: 150px;
    border-radius: 3px;

}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.scorebuttons {
    height: 30px;
    width:30px;
    padding:2px;
    background-color: transparent;
    color:white;
    display: flex;
    justify-content: center;

}

