@font-face {

    src:url("Digital Dismay.otf");
    font-family: Myfont;
}


body {
    color:white
  
}



.container {
    display: flex;
    justify-content: space-around;
    background: rgb(2, 2, 74);
    width:500px;
    height:350px;
    margin:10px;
    border: 5px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 0px 5px grey;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    margin: 20px 0px 10px 0px;
}


h1 {
    color: rgb(255, 0, 102);
    background: black;
    height: 100px;
    width: 150px;
    border-radius: 3px;
    font-family: Myfont;
    margin: 0px 15px 15px 15px;
    text-align: center;
    font-size: 90px;
    font-weight: 900;
    
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

button {
    height: 35px;
    width:35px;
    background-color: transparent;
    color: grey;
    border: 1.5px solid grey;
    border-radius: 5px;
    font-family: Myfont;
    font-size: 15px;
    font-weight: 500;
    margin: 3px
}

.controlbuttons {
    
    height: 60px;
    width:60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:15px;


}

.fouls {
    width:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    
}